##requirements.txt

numpy
pandas
statsmodels
matplotlib
patsy
scikit-learn==0.17.1
sklearn
thrift
pyyaml
requests
dpath
future
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability